node_modules
.env
.env.*
!.env.example
*.log
dist
coverage
.DS_Store
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
client/dist
server/dist

*.tsbuildinfo
server/*-player-script.js

